<head class="home-header">
    <a routerLink="/" class="home-header-home-link">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/70a4be81077a8037698067f583816ff9.svg" />
    </a>
    <div>
        <a routerLink="/login" class="home-header-login">Đăng nhập</a>
        <a routerLink="/register" class="home-header-register">Tạo hồ sơ</a>
    </div>
</head>

<div class="home-hero">
    <div class="home-container">
        <div>
            <h1 class="home-title">
                Cách học Tiếng Anh tốt nhất thế giới
            </h1>
        </div>
        <div>
            
        </div>
    </div>
</div>